<div class="menu">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom bg-primary">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Test Project</a>
    </div>
    {{!--<ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>--}}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{!--<a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>--}}
    </ul>
    </nav>
  </div>
</div>