<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' />
  <script src="//code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
</head>

<body>
  {{> header }}
  <div class="container">
    <div class="row">
      {{!--
      <div class="col-md-2">
        <button class="btn btn-warning">Left</button>
      </div>--}}
      <div class="col-md-12 col-sm-12">
        {{{body}}}
      </div>
      {{!--
      <div class="col-md-2">
        <button class="btn btn-warning">Right</button>
      </div>--}}
    </div>
  </div>
  <script src="/javascripts/global.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</body>

</html>